extends admin_layout

block admin_content
  .d-flex.justify-content-between.align-items-center.mb-4
    h1 #{pageTitle}
    a.btn.btn-primary(href="/admin/draws/new") Neue Ziehung erstellen

  .card
    .card-body
      .table-responsive
        table.table
          thead
            tr
              th ID
              th Name
              th Status
              th Ticketpreis
              th Tickets (Verkauft / Gesamt)
              th Erstellt am
          tbody
            if draws && draws.length
              each draw in draws
                tr
                  td= draw.id
                  td= draw.name
                  td= draw.status
                  td= draw.ticket_price + ' BTC'
                  td= `${draw.sold_tickets} / ${draw.total_tickets}`
                  td= new Date(draw.created_at).toLocaleDateString('de-DE', { year: 'numeric', month: '2-digit', day: '2-digit' })
            else
              tr
                td(colspan="6") Keine Ziehungen gefunden.