//- views/dashboard.pug
extends layout

block content
  h1 Willkommen, #{username}!

  // Section for buying new tickets
  section.draws
    h2 Offene Ziehungen
    if openDraws && openDraws.length > 0
      .draw-list
        each draw in openDraws
          .draw-card
            h3= draw.name
            p Preis pro Ticket: #{draw.ticket_price} BTC
            p Bearbeitungsgebühr: #{draw.processing_fee} BTC
            p Verbleibende Tickets: #{draw.remaining_tickets_in_draw} / #{draw.total_tickets}
            if draw.remaining_tickets_in_draw > 0
              form(action=`/draw/${draw.id}/buy`, method='POST')
                button.btn.btn-primary(type='submit') 1 Ticket kaufen
            else
              p Ausverkauft!
    else
      p Derzeit gibt es keine offenen Ziehungen.

  // Section for viewing already purchased tickets
  section.user-tickets
    h2 Meine gekauften Tickets
    if userTicketsByDraw && userTicketsByDraw.length > 0
      each drawGroup in userTicketsByDraw
        .ticket-group
          h3 Ziehung: #{drawGroup.draw_name} (#{drawGroup.draw_status})
          ul.ticket-list
            each ticket in drawGroup.tickets
              li.ticket-item
                | Ticket ##{ticket.number} - Status: 
                strong= ticket.status
                if ticket.status === 'pending_payment'
                  a(href=`/ticket/${ticket.ticket_id}/payment`) (Zahlungsdetails anzeigen)
    else
      p Du hast noch keine Tickets gekauft.